<!DOCTYPE html>
<html>
<head>
<title>UnReduce</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
  <h1>UnReduce</h1>
  <h2>See the final URL of a reduced URL.</h2>
</header>

<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash error">{{ message }}</div>
  {% endfor %}

  <form method="post">
    <input name="url" type="text" autofocus placeholder="Reduced URL"/>
    <!-- <input name="url" id="url" autofocus placeholder="Reduced URL"/> -->
    <input value="Run" type="submit" />
  </form>

  {% block content %}{% endblock %}
</section>

<footer>
  <p>Webmaster: <a href="https://thykof.github.io/">Thykof</a></p>
  <p>Github: <a href="https://github.com/Thykof/unreduce/tree/python-flask">unreduce</a></p>
</footer>
</body>
</html>
